
*{
  box-sizing: border-box;
}
.App, body,html {
  text-align: center;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input,button{
  padding: 10px 15px;
  margin: 10px;
  width: 100%;
}
td,th{
  border: 1px solid rgb(141, 140, 140);
  padding: 10px;
}
table {
  border: 1px solid rgb(141, 140, 140);
}
